@using CJP.ContentSync.Permissions
@model CJP.ContentSync.Models.AdminImportVM

@{
    Layout.Title = T("Content Sync");
}

<fieldset>
    <legend>@T("Site details")</legend>
    @if (Model.SavedRemoteSiteConfigs.Any())
    {
        <p>@T("Your saved remote sites:")</p>
        <table class="items">
            <tr>
                <th>@T("Url of remote site")</th>
                <th>@T("Remote username")</th>
                <th>@T("Last synced")</th>
                <th></th>
            </tr>
            @foreach (var config in Model.SavedRemoteSiteConfigs)
            {
                <tr>
                    <td><a href="@config.Url" target="_blank">@config.Url</a></td>
                    <td>@config.Username</td>
                    <td>@(config.LastSynced.HasValue ?config.LastSynced.ToString():"Never")</td>
                    <td>
                        @using (Html.BeginFormAntiForgeryPost(Url.Action("RemoteConfig")))
                        {
                            @Html.Hidden("id", config.Id)
                            <button type="submit" name="sync" value="sync" class="link">@T("Sync with this config")</button> <text> | </text>
                            <button type="submit" name="delete" value="delete" class="link">@T("Delete")</button>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>@T("You have no saved remote site details. Clicking 'Save Config' below will allow you to save remote site details for use later.")</p>
        <p class="hint">@T(" Note: passwords are stored in plain text. You should ensure that the user account you save has only the '{0}' permission.", ContentSyncPermissions.ContentExportApi.Name)</p>
    }
    
    <hr/>

    @using (Html.BeginFormAntiForgeryPost())
    {
        <p>
            @T("You can manually provide the required details for the remote site to sync with.")
        </p>
        <p>
            @T("Provide the URL for the remote site, and the Username and Password of a user that has the correct permissions to provide a site export:")
        </p>
        <div>
            @Html.LabelFor(m => m.Url)
            @Html.TextBoxFor(m => m.Url)
            <span class="hint">@T("The URL of the site you wish to sync with")</span>
        </div>
        <div>
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username)
            <span class="hint">@T("The username for the account that has the export permission")</span>
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            <span class="hint">@T("The password for the account specified above")</span>
        </div>
        <div class="actions">
            <button type="submit" name="saveConfig" value="saveConfig" class="button grey">@T("Save Config")</button>
            <button type="submit" name="syncContent" value="syncContent">@T("Sync Content")</button>
        </div>
    }
</fieldset>