@using System.Web.Mvc.Html
@using CJP.ContentSync.Permissions
@using Orchard.Mvc.Html
@model CJP.ContentSync.Models.ViewModels.AdminImportVM

@{
    Layout.Title = T("Content Sync");
    Script.Require("jQuery").AtHead();

    var hideAddSitePanel = true;
}

<script>
    $(function () {
        $("button.deleteRemoteConfig").on("click", function () {
            return confirm("Are you sure you want to delete this remote site configuration?");
        });

        $("a.siteAddPanelControl").on("click", function () {
            $(this).hide();
            $("fieldset#addConfigFieldset").show();
        });
    });
</script>

<fieldset>
    <legend>@T("Your remote sites")</legend>
    @if (Model.SavedRemoteSiteConfigs.Any())
    {
        <p>@T("Your saved remote sites:")</p>
        <table class="items">
            <tr>
                <th>@T("Url of remote site")</th>
                <th>@T("Remote username")</th>
                <th>@T("Last synced")</th>
                <th></th>
            </tr>
            @foreach (var config in Model.SavedRemoteSiteConfigs)
            {
                <tr>
                    <td><a href="@config.Url" target="_blank">@config.Url</a></td>
                    <td>@config.Username</td>
                    <td>@(config.LastSynced.HasValue ?config.LastSynced.ToString():"Never")</td>
                    <td>
                        @using (Html.BeginFormAntiForgeryPost(Url.Action("RemoteConfig")))
                        {
                            @Html.Hidden("id", config.Id)
                            <button type="submit" name="sync" value="sync" class="link">@T("Sync with this config")</button> <text> | </text>
                            <a href="@config.Url/contentsync/contentExport?username=@config.Username&password=@config.Password">@T("Download remote export")</a> <text> | </text>
                            <button type="submit" name="delete" value="delete" class="link deleteRemoteConfig">@T("Delete")</button>
                        }
                    </td>
                </tr>
            }
        </table>
        <div class="actions">
            <a class="button siteAddPanelControl">@T("Add a new remote site config...")</a>
        </div>
    }
    else
    {
        <p>@T("You have no saved remote site details. You can add a remote site below:")</p>

        hideAddSitePanel = false;
    }
    
</fieldset>
<fieldset id="addConfigFieldset" style="display:@(hideAddSitePanel?"none":"block")">
    <legend>@T("Add a remote site configuration")</legend>
    @using (Html.BeginFormAntiForgeryPost())
    {
        <p>
            @T("Provide the URL for the remote site, and the Username and Password of a user that has the correct permissions to provide a site export:")
        </p>
        <div>
            @Html.LabelFor(m => m.Url)
            @Html.TextBoxFor(m => m.Url)
            <span class="hint">@T("The URL of the site you wish to sync with")</span>
        </div>
        <div>
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username)
            <span class="hint">@T("The username for the account that has the export permission")</span>
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            <p class="hint">@T(" Note: passwords are stored in plain text. You should ensure that the user account you save has only the '{0}' permission.", ContentSyncPermissions.ContentExportApi.Name)</p>
            <span class="hint">@T("The password for the account specified above")</span>
        </div>
        <div class="actions">
            <button type="submit" name="saveConfig" value="saveConfig">@T("Save Config")</button>
        </div>
    }
</fieldset>